<% title "Gamer's Paradise" %>
<h1 class="text-success">Click the link after Logging in and be a part of the conversation!</h1>
<%= link_to "Articles", articles_path, class: "btn btn-success" %>

<br><br>
	<body>
		<img src="http://pcmedia.gamespy.com/pc/image/article/121/1215449/GOTYTopCollage(rough)_1324909676.jpg" alt="collage" border="5">

		<p>Updates and discussions on the worlds hottest games.</p>

	</body>